pnr_compiler
*.o
PnRDB/*.o
cap_placer/*.o
router/*.o
placer/*.o
router/FastSteinerUM/*.o
router/FastSteinerUM/*.a
router/FastSteinerUM/gen
router/FastSteinerUM/steiner
*.gcno
*.gcda
unit_tests
coverage-reports/
coverage.info
coverage.out
junit.xml
*.a
.depend
Results/
