
div#pareto-col {
    display: inline-block;
    vertical-align: top;
}

div#placement-col {
    display: inline-block;
    vertical-align: top;
}

div#tree-col {
    display: inline-block;
    vertical-align: top;
}

div#tree-col img {
    height: 10%;
    width: 10%;
    display: block;
}

div#axes-type {
    /*width: 150px;*/
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}

div#axes-type label {
    display: inline-block;   
}
div#tradeoff-type.dash-dropdown {
    width: 180px;
    padding-right: 10px;
    display: inline-block;
}

div#colorscale.dash-dropdown {
    width: 150px;
    display: inline-block;
}

div#module-name.dash-dropdown {
    width: 350px;
}

div#display-type label {
    display: inline-block;   
}


