# Stuff that won't get used by ALIGN in docker
.circleci
CircuitsDatabase
Cktgen
dev
docs
DetailedRouter
# Stuff that gets rebuilt in docker
googletest
json
lpsolve
spdlog
superlu
# Stuff that gets built in CI and MUST BE IGNORED
align_image.tar
# Adding everything in .gitignore
# Not needed if starting from fresh clone (recommended)
*~
.coverage
htmlcov/
.eggs/
*.egg-info/
junit.xml
coverage.xml
__pycache__/
*.gds.json
*.json
*.lef
*.gds
*_cand
*.pyc
*.swp
tmp/
LOG/
*.log
pycharm/
.idea/
general/
json/
googletest/
lpsolve/
work/
*.o
*.a
*.so

