# Stuff that won't get used by ALIGN in docker
.circleci
CircuitsDatabase
Cktgen
dev
docs
DetailedRouter
# Stuff that gets built in CI and MUST BE IGNORED
**/*.tar
# Adding everything in .gitignore
# Not needed if starting from fresh clone (recommended)
**/*~
.coverage
**/htmlcov/
.eggs/
*.egg-info/
**/junit.xml
**/coverage.xml
**/__pycache__/
**/*.gds.json
**/*.json
**/*.lef
**/*.gds
**/*_cand
**/*.pyc
**/*.swp
**/*.o
**/*.a
**/*.so
**/tmp/
**/LOG/
**/*.log
**/*.pl
**/*.plt
**/*.gcno
**/*.gcda
pycharm/
.idea/
general/
json/
googletest/
lpsolve/
spdlog/
superlu/
work/


