*~
.coverage
htmlcov/
.eggs/
*.egg-info/
junit.xml
coverage.xml
__pycache__/
*.gds.json
*.json
*.lef
*.gds
*_cand
*.pyc
*.swp
tmp/
LOG/
*.log
pycharm/
.idea/
general/
json/
googletest/
lpsolve/
work/
*.o
*.a
*.so
