**/*.tar
**/*~
.coverage
**/htmlcov/
.eggs/
*.egg-info/
**/junit.xml
**/coverage.xml
**/__pycache__/
**/*.gds.json
**/*.json
**/*.lef
**/*.gds
**/*_cand
**/*.pyc
**/*.swp
**/*.o
**/*.a
**/*.so
**/tmp/
**/LOG/
**/*.log
pycharm/
.idea/
general/
json/
googletest/
lpsolve/
spdlog/
superlu/
work/
